body {
    background-color: #eeeeee;
}

.container {
    margin: 0 auto;
    padding: 50px;
    max-width: 900px;
    background-color: white;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.heading-top {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}

.heading {
    font-size: 35px;
    text-align: center;
    font-weight: lighter;
    padding-top: 30px;
    padding-bottom: 50px;
}

.heading-first {
    font-size: 35px;
    text-align: center;
    font-weight: lighter;
    padding-top: 30px;
    padding-bottom: 30px;
}
.heading-last {
    font-size: 35px;
    text-align: center;
    font-weight: lighter;
    padding-bottom: 50px;
}


.intro-video {
    padding-top: 50px;
    position: relative;
    left: 90px;
}

/*Slightly indent text compared to hr's*/
.row-fluid {
    padding-left: 5px;
    padding-right: 5px;
}

.evalIntro .highlighted {
    color: #005580;
}

.menu li {
    display: inline;
    padding: 10px;
}
.menu {
    text-align: center;
}

.evalHow .info {
    text-align: center;
    padding-bottom: 20px;
}

.explore {
    padding-bottom: 20px;
}
.explore h4 {
    text-align: center;
}
.explore-links {
    text-align: center;
}
.explore-links ul {
    display: inline-block;
}
.explore-example {
    /*height: 80px;*/
}
.explore-example .logo {
    height: 50px;
    float: left;
    padding-right: 10px;
}
.explore-example p {
    padding-bottom: 10px;
}
