body {
    background-color: #eeeeee;
}

hr {
    border-top: #d7d7d7 1px solid;
}

#content {
    margin: 0 auto;
    padding: 50px;
    max-width: 900px;
    background-color: white;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.heading-top {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}

.heading {
    font-size: 35px;
    text-align: center;
    font-weight: lighter;
    padding-top: 30px;
    padding-bottom: 50px;
}

.heading-first {
    font-size: 35px;
    text-align: center;
    font-weight: lighter;
    padding-top: 30px;
    padding-bottom: 30px;
}
.heading-last {
    font-size: 35px;
    text-align: center;
    font-weight: lighter;
    padding-bottom: 50px;
}


.intro-video {
    padding-top: 50px;
    position: relative;
    left: 90px;
}

/*Slightly indent text compared to hr's*/
.row-fluid {
    padding-left: 5px;
    padding-right: 5px;
}

.evalIntro .highlighted {
    color: #005580;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.menu li {
    display: inline;
    padding: 10px;
}
.menu {
    text-align: center;
    font-size: 16px;
}


.evalArch h3 {
    font-weight: lighter;
}


.info {
    text-align: center;
    padding-bottom: 20px;
}


.explore {
    padding-bottom: 20px;
}
.explore h4 {
    text-align: center;
}
.explore-links {
    text-align: center;
}
.explore-links ul {
    display: inline-block;
}
.explore-example {
    /*height: 80px;*/
}
.explore-example .logo {
    height: 50px;
    float: left;
    padding-right: 10px;
}
.explore-example p {
    padding-bottom: 10px;
}



.sample-data-menu {
    text-align: center;
}
.sample-data ul {
    display: inline-block;
}


.console {
    background-color: #eee;
    border-radius: 10px;
}
.d3-path-text {
    font-size: 9px;
}

.evalEngage .row-fluid {
    padding-bottom: 20px;
}
.evalEngage h3 {
    font-weight: lighter;
}
.evalEngage img {
    padding-top: 10px;
}
